/* components */

.c-btn {
  min-width: fit-content;
  border-radius: 4px;
  padding: 8px 16px;
  transition: 0.3s;
}
.c-btn:hover {
  opacity: 0.7;
}
.c-btn.primary {
  background-color: rgb(71, 189, 243);
  color: #fff;
}
.c-btn.secondary {
  background-color: rgb(238, 96, 107);
  color: #fff;
}

/* layout */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* utils */

.inner {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.flex {
  display: flex;
}
.jc-sb {
  justify-content: space-between;
}
