/* body {
  display: flex;
  flex-direction: column;
} */
.header {
  font-size: 2rem;
  height: 100px;
  width: 100vw;
  text-align: center;
}
.div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}
.list {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 70%;
}
.task-form {
  height: 50px;
  width: 60%;
}

.task-button {
  height: 50px;
  width: 20%;
  margin-left: 30px;
  background-color: rgb(47, 162, 224);
  border-radius: 7%;
  color: #fff;
}
.name {
  height: 150px;
  width: 60%;
  margin-top: 30px;
}
.table {
  height: 150px;
  width: 100%;
  border-top: 1px solid #000;
}
.edit-form {
  border-radius: 10%;
  background: transparent;
  color: #fff;
}
.delete {
  color: #fff;
  background-color: red;
  border-radius: 10%;
}
.footer {
  text-align: center;
  height: 200px;
  width: 100vw;
}
small {
  display: block;
  padding-top: 30px;
}
