/* body {
  display: flex;
  flex-direction: column;
} */
.header {
  font-size: 2rem;
  height: 100px;
  width: 100vw;
  text-align: center;
}
.div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}
.inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.todo-input-area {
  display: flex;
  justify-content: center;
  width: 70%;
}
.task-form {
  height: 50px;
  width: 60%;
}

.task-button {
  height: 50px;
  width: 20%;
  margin-left: 30px;
  border-radius: 7px;
  background-color: rgb(47, 162, 224);
  color: #fff;
}
.todo-list-area {
  height: 150px;
  width: 60%;
  margin-top: 30px;
}
list-form {
  text-align: left;
}
.table-list {
  background-color: gainsboro;
}
.table {
  height: 150px;
  width: 100%;
  border-top: 1px solid #000;
}
.edit-button {
  width: 70px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background: transparent;
  color: #fff;
}
.delete {
  width: 70px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: red;
}
.footer {
  text-align: center;
  height: 200px;
  width: 100vw;
  padding-top: 30px;
}
small {
  display: block;
}
